.navbar {
  background-color: #7286A0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-item{
    color: #FFFFFF;
}

.container {
  padding-top: 10vh; /* Adjust the value based on your navbar's height */
}
