.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.container {
  padding-top: 5vh; /* Adjust the value based on your navbar's height */
  height: 100vh;
}
body {
  background-image: url("/Main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
